#movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  width: 100%;
}

.movie-item{
  size: 100%
}

#nav-bar {
  overflow: hidden;
  background-color: goldenrod;

}

#nav-bar ul {
  display: inline;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  display: inline;
  padding: 8px;
}

#nav-bar input {
  margin-bottom: 20px;
  float: right;
}

#nav-bar button {
   border-radius: 5px;
  float: right;
}



/* https://www.w3schools.com/css/css_navbar_horizontal.asp */